
.vs/BattlePassPanelAutomatico/v16/.suo
BattlePassPanelAutomatico/obj/Debug/BattlePassPanelAutomatico.csproj.AssemblyReference.cache
BattlePassPanelAutomatico/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
